.card-1 {
  border-top: 5px solid #ff4f64;
  list-style-type: none;
  width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px;
  margin-right: 50px;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  list-style-type: none;
  width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px;
  margin-right: 50px;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  list-style-type: none;
  width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px;
  margin-right: 50px;
}

.card-4 {
  border-top: 5px solid #fcc200;
  list-style-type: none;
  width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px;
  margin-right: 50px;
}

/* Write CSS code here. */
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
}

.image {
  display: flex;
  flex-direction: row;
  align-items: right;
}
